body {
    background-color: #F2F2F2;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    color: #156D53;
    height: 100px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
}

a{
   text-decoration: none; 
   padding: 30px;
   color: #F2F2F2;
   text-align: center;
   
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 50px;
    background-color: #156D53;
    border-radius: 30px;
}

nav a:hover {
    opacity: 0.5;
}

main{
    flex: 1;

}

main h2{
    color: #0f3f28;
    padding: 1% 3% 3% 3%;
}

img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 80px;
    margin-bottom: 15px;

    
}

footer{
    background-color: #0f3f28;
    color:#F2F2F2;
    text-align: center;
    padding: 15px 0;
    width: 100%;
}

.user{
    display: flex;
    justify-content: center;
    gap: 100px;
    text-align: center;
    margin-top: 30px;
}

.nomes{
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-right: 0px;
    gap: 200px;

}

.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
}
