body{
    background-color: #F2F2F2;
    font-family: Arial, sans-serif;
}

header{
    color: #156D53;
    height: 100px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
}

a:not(.emails){
   text-decoration: none; 
   padding: 30px;
   color: #F2F2F2;
   text-align: center;
   
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 50px;
    background-color: #156D53;
    border-radius: 30px;
}

nav a:hover {
    opacity: 0.5;
}

.banner {
width: 95%;
height: 400px;
overflow: hidden;
border-radius: 20px;
text-align: center;
margin: auto;
}

.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1{
    color: #156D53;
    text-align: center;
}

h2:not(.subtitulo){
    display: inline-block;
    margin: 2% 10% 0 10%;
    text-align: center;
    color: #156D53;
}

.subtitulo{
    color: #156D53;
    text-align: center;
}

.emails{
    display: inline-block;
    margin: 1% 13% 0 14%;
    text-align: center;
    color: #156D53;
}

footer{
    background-color: #156D53;
    color: #F2F2F2;
    text-align: center;
    margin: 19% 0 0 0;
    height: 80px;
    width: 100%;
}

footer p{
    padding: 2%;
}


