body {
    background-color: #F2F2F2;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    color: #156D53;
    height: 100px;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
}

nav a{
   text-decoration: none; 
   padding: 10px 30px;
   color: #F2F2F2;
   text-align: center;
   
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 450px;
    height: 50px;
    background-color: #156D53;
    border-radius: 30px;
}

nav a:hover {
    opacity: 0.8;
}


main {
    flex: 1;
    padding: 1% 3% 3% 3%;
}

.historia h2 {
    color: #156D53;
    margin-bottom: 20px;
    font-size: 2rem;
}

.historia p {
    line-height: 1.7;
    margin-bottom: 20px;
    font-size: 1.1rem;
}

.pilares {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card-pilar {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    border-left: 6px solid #156D53;
    position: relative; 
    width: 300px;
    height: 200px;
}

.card-pilar h3 {
    color: #156D53;
    margin-bottom: 15px;
    font-size: 1.4rem;
}

.card-pilar p {
    line-height: 1.5;
    color: #313131;
}

.pilar-destaque .selo-sobre {
    position: absolute;
    top: -12px;
    right: 15px;
    background-color: #156D53;
    color: #F2F2F2;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

footer{
    background-color: #0f3f28;
    color:#F2F2F2;
    text-align: center;
    padding: 15px 0;
    width: 100%;
}