body{
    background-color: #F2F2F2;
}

header{
    color: #156D53;
    height: 100px;
    font-family: Arial, sans-serif;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

a{
   text-decoration: none; 
   padding: 30px;
   color: #F2F2F2;
   text-align: center;
   
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 50px;
    background-color: #156D53;
}


